EXPO_PUBLIC_API_URL=https://api.example.com
EXPO_PUBLIC_AUTH0_DOMAIN=auth.propordo.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=PWmLIA3iNAepdtnwKrD1sZuZBJo2L0kD
EXPO_PUBLIC_AUTH0_AUDIENCE=https://propordo.au.auth0.com/api/v2/
EXPO_PUBLIC_SENTRY_DSN=https://db2c653f40109d27bb02ebbd99c4fc61@o4510549651947520.ingest.us.sentry.io/4511313387257856